.grouped {
    display: flexbox;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 30px;
}

.grouped .grouped-span {
    margin-left: 10px;
    align-self: center;
    /* position: relative;
    top: 3px;
    left: 2vw; */
    font-size: 15pt;
    color: rgb(0, 255, 0);
}

.grouped-icon {
    width: 30px;
    height: 30px;
    float: right;
    transition: all 0.2s ease-in-out;
}

.grouped-icon .icon {
    margin-top: 2px;
    width: 25px;
    height: 25px;
    color: rgb(0, 255, 0);
    transition: all 0.2s ease-in-out;
}

.grouped-icon:hover {
    border-radius: 3px;
    background-color: rgb(0, 255, 0);
}

.grouped-icon:hover .icon {
    color: #000000;
}

.list {
    overflow: hidden;
    height: auto;
    display: flex;
}

.list.linked {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list.notlinked {
    flex-direction: column;
    justify-content: center;
}

.list.collapse {
    height: 0;
}

.list-main {
    background-color: #271f26;
}

.loading-comp {
    background-color: #271f26;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
