.item {
    height: 400px;
    width: 250px;
    margin: 5px 6px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(0, 255, 34);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.item-image {
    margin: 10px 0;
    align-self: center;
    width: calc((167/236) * 250px);
    height: 250px;
}

.item-title {
    display: grid;
    margin-top: 5px;
    padding: 0 5px;
    height: 60px;
    justify-items: center;
    width: auto;
    transition: all 0.2s ease-in-out;
}

.item .span-title {
    align-self: center;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.item-genre .genre-span {
    font-size: 8pt;
    margin: 0 3px;
    color: white;
}

.item-genre {
    width: auto;
    padding: 0 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2px;
}

.item:hover {
    background-color: rgb(0, 255, 34);
    border-color: rgb(0, 0, 0);
}

.item:hover .genre-span {
    color: rgb(0, 0, 0);
}

.item:hover .span-title {
    color: rgb(0, 0, 0);
}
