.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(134, 227, 255);
}

.popup-inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    border-radius: 5px;
    background: rgb(6, 0, 61);
}

.input-text {
    border-radius: 8px 0 0 8px;
    border-right: #c3c3c3 0 solid;
    height: 48px;
    width: 60%;
    text-indent: 10px;
}

.input-button {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    border: #c3c3c3 1px solid;
    height: 50px;
    width: 50px;
}
